# Ambiente virtual
.venv/
env/
ENV/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# C extensions
*.so

# Distribuição / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Flask instance folder
instance/

# Flask cache folder
.flask_cache/

# Database files
*.sqlite3
*.db

# PyCharm
.idea/

# VSCode
.vscode/

# mypy
.mypy_cache/

# Environments
.env
.env.*

# Editor backup files
*~
*.swp
*.swo
.DS_Store

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
.coverage

# celery beat schedule file
celerybeat-schedule

# dotenv
.envrc
