
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
    width: 80%;
    margin: 0 auto;
}


h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
    font-weight: bold;
}


.add-pet-btn {
    display: flex;
    margin: 20px 35%;
    padding: 10px 20px;
    background-color: #1589C9;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}


.add-pet-btn:hover {
    background-color: #0f6b99;
    transform: scale(1.05);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #1589C9;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #e3f3fc;
}


.table-wrapper {
    width: 90%;
    margin: 0 auto;
}

.manage-btn{
    display: flex;
    margin: 20px 44%;
    padding: 10px 40px;
    background-color: #1589C9;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    border: transparent;
}


.manage-btn:hover {
    background-color: #0f6b99;
    transform: scale(1.05);
}
