@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

header {
    background-color: #3c8dbc;
    color: white;
    padding: 15px;
    text-align: center;
}

nav{
    margin-bottom: 20px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 21px;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

.home-container {
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
}


.home-title {
    color: #1582b5;
    font-size: 40px;
    margin-bottom: 15px;
}

.home-subtitle {
    color: #333;
    font-size: 25px;
    margin-top: 40px;
}

#text-sub{
font-size: 28px;
}


.home-text {
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
}


.cards-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    background: #1582b5;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 22px rgba(0,0,0,0.18);
}


.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


h1{
    font-size: 42px;
}