{% extends "base.html" %}

{% block title %}Início - PetPlus{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/style.css">

<div class="home-container">

    <h2 class="home-title">Bem-vindo ao PetPlus!</h2>

    <p id="text-sub" class="home-text"><strong>O que é o PetPlus?</strong></p>
    <p class="home-text">PetPlus é um gerenciador simples e intuitivo para acompanhar o bem-estar do seu animal.</p>

    <h2 class="home-subtitle">Donos que usam e confiam no PetPlus</h2>

    <div class="cards-container">

        <div class="card">
            <img src="/static/img/pets_e_donos/IMG_1086.jpg">
            
        </div>

        <div class="card">
            <img src="/static/img/pets_e_donos/IMG_9036.jpg">
            
        </div>

        <div class="card">
            <img src="/static/img/pets_e_donos/c74688e9-415f-4e7e-a740-c0460ebb23a5.JPG">
            
        </div>

    </div>

</div>

{% endblock %}
